@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import "navbar";

body {
  background-color: #263238;
  font-family: 'Poiret One', cursive;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
}
